@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background: #000339;
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: #000339;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}